# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# env
.env
server/.env
client/.env

# build outputs
client/dist/
client/build/

# OS
.DS_Store

# logs
logs/
*.log

# IDE
.vscode/
.idea/